@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.drupal-navigation {
  background: #9B25AF;
  position: fixed;
  top: 0;
  z-index: 998;
}
